@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body {
    position: relative; 
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
}

#profilePic{
    margin: 0;
    padding-top: 7%;
    padding-bottom: 10%;
    color: #fff;
    background-image: url("assets/newbackground.jpg");
    clear: both;
}

#aboutMe {
    margin: 0;
    padding-top: 7%;
    padding-bottom: 10%;
    height: 500px;
    color: #000;
    background-color: rgb(255, 255, 255);
}

/* #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 7%;
    padding-bottom: 10%;
    color: #000;
    background-color: rgb(240, 240, 240); 
}   */

#knowledge {
    padding-top: 7%;
    padding-bottom: 10%;
    color: #000; 
    background-color: rgb(255, 255, 255);
}

#contactMe {
    padding-top: 7%;
    padding-bottom: 10%;
    color: #000; 
    background-color: rgb(240, 240, 240);
}

#footer {
    padding-top: 1%;
    padding-bottom: 1%;
    color: #000; 
    background-color: rgb(255, 255, 255);
}

#logo {
    float: left;
    margin: 5px;
    padding: 0;
    clear: both;
}

#novice {
    color: #3b5998;
}

#intermediate {
    color: goldenrod;
}

#strong {
    color: green;
}

#logo {
    float: left;
    margin: 5px;
    padding: 0;
    clear: both;
}

#cert {
    width: 100%;
    margin: 0;
    padding: 0;
}

#description {
    margin: 5px;
    margin-left: 35px;
    padding: 5px;
    text-align: left;
}

label {
    padding: 0;
    margin: 0;
}

input {
    width: 100%;
    padding: 0px 5px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 4px;
    resize: none;
}

input[type=submit], input[type=reset] {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(146, 146, 146);
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: rgba(0, 55, 145, 0.808);
    border: 2px solid rgb(146, 146, 146);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input[type=reset]:hover {
    background-color: rgba(0, 55, 145, 0.808);
    border: 2px solid rgb(146, 146, 146);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input {
    float: left;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Skewed DIV CSS */

.projectContainer
{
    position: relative;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 40px 40px;
}

.projectContainer .projectBox
{
    position: relative;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.projectContainer .projectBox:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.projectContainer .projectBox:nth-child(1):before 
{
    background: linear-gradient(315deg, #003791, #1389ff);
}

.projectContainer .projectBox:nth-child(2):before 
{
    background: linear-gradient(315deg, #003791, #1389ff);
}

.projectContainer .projectBox:nth-child(3):before 
{
    background: linear-gradient(315deg, #003791, #1389ff);
}

.projectContainer .projectBox:nth-child(4):before 
{
    background: linear-gradient(315deg, #003791, #1389ff);
}

.projectContainer .projectBox:nth-child(5):before 
{
    background: linear-gradient(315deg, #003791, #1389ff);
}

.projectContainer .projectBox:after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}

.projectContent
{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.projectBox .projectContent h2
{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(56, 56, 56, 0.05);
    transition: 0.5s;
}

.projectBox:hover .projectContent h2
{
    top: -100px;
}

.projectBox .projectContent h3
{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.projectBox .projectContent p
{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
}

.projectBox .projectContent a
{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.projectBox:hover .projectContent a
{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.projectBox .projectContent a:hover
{
    color: #fff;
    background: rgba(0, 55, 145, 0.808);
}